Code/Node-RED Flows/NodeRed-Flow1-PublishSensor.json
[
    {
        "id": "3c6ab568.2acd8a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2d567f33.fa26a",
        "type": "rpi-dht22",
        "z": "3c6ab568.2acd8a",
        "name": "",
        "topic": "rpi-dht22",
        "dht": 22,
        "pintype": "0",
        "pin": "6",
        "x": 390,
        "y": 320,
        "wires": [
            [
                "ef63e388.b113d",
                "103229e9.3b0906"
            ]
        ]
    },
    {
        "id": "8ed62fb6.1f4bc",
        "type": "inject",
        "z": "3c6ab568.2acd8a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "2d567f33.fa26a"
            ]
        ]
    },
    {
        "id": "ef63e388.b113d",
        "type": "function",
        "z": "3c6ab568.2acd8a",
        "name": "",
        "func": "msg.payload = msg.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 460,
        "wires": [
            [
                "d01f3b2.6a535c8"
            ]
        ]
    },
    {
        "id": "d01f3b2.6a535c8",
        "type": "change",
        "z": "3c6ab568.2acd8a",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "humidity",
                "pt": "msg"
            },
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "rpi-dht22",
                "fromt": "str",
                "to": "rpi-dht22/humidity",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "_msgid",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 500,
        "wires": [
            [
                "2b45a4b.055025c"
            ]
        ]
    },
    {
        "id": "103229e9.3b0906",
        "type": "change",
        "z": "3c6ab568.2acd8a",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "humidity",
                "pt": "msg"
            },
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "rpi-dht22",
                "fromt": "str",
                "to": "rpi-dht22/temperature",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "_msgid",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 240,
        "wires": [
            [
                "407f99c0.14e928"
            ]
        ]
    },
    {
        "id": "407f99c0.14e928",
        "type": "mqtt out",
        "z": "3c6ab568.2acd8a",
        "name": "",
        "topic": "dht22/temperature",
        "qos": "",
        "retain": "",
        "broker": "e05bb7a8.e36f58",
        "x": 940,
        "y": 360,
        "wires": []
    },
    {
        "id": "2b45a4b.055025c",
        "type": "mqtt out",
        "z": "3c6ab568.2acd8a",
        "name": "",
        "topic": "dht22/humidity",
        "qos": "",
        "retain": "",
        "broker": "e05bb7a8.e36f58",
        "x": 990,
        "y": 560,
        "wires": []
    },
    {
        "id": "e05bb7a8.e36f58",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]