Code/Node-RED Flows/NodeRed-Flow2-SubsribeSensor.json
[
    {
        "id": "35697a53.9e9d66",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "543bc223.81548c",
        "type": "mqtt in",
        "z": "35697a53.9e9d66",
        "name": "",
        "topic": "dht22/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "e05bb7a8.e36f58",
        "x": 320,
        "y": 220,
        "wires": [
            [
                "6e31838d.6deadc"
            ]
        ]
    },
    {
        "id": "9a08c4.9066074",
        "type": "mqtt in",
        "z": "35697a53.9e9d66",
        "name": "",
        "topic": "dht22/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "e05bb7a8.e36f58",
        "x": 310,
        "y": 340,
        "wires": [
            [
                "478c9bf6.cda984"
            ]
        ]
    },
    {
        "id": "5fddd398.c5cd4c",
        "type": "influxdb out",
        "z": "35697a53.9e9d66",
        "influxdb": "d9cbecf3.1df84",
        "name": "temperature",
        "measurement": "temperature",
        "precision": "",
        "retentionPolicy": "",
        "x": 640,
        "y": 280,
        "wires": []
    },
    {
        "id": "478c9bf6.cda984",
        "type": "influxdb out",
        "z": "35697a53.9e9d66",
        "influxdb": "d9cbecf3.1df84",
        "name": "",
        "measurement": "humidity",
        "precision": "",
        "retentionPolicy": "",
        "x": 730,
        "y": 420,
        "wires": []
    },
    {
        "id": "6e31838d.6deadc",
        "type": "change",
        "z": "35697a53.9e9d66",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "qos",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "retain",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "_topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "_msgid",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 140,
        "wires": [
            [
                "5fddd398.c5cd4c"
            ]
        ]
    },
    {
        "id": "e05bb7a8.e36f58",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d9cbecf3.1df84",
        "type": "influxdb",
        "z": "",
        "hostname": "192.168.178.46",
        "port": "8086",
        "protocol": "http",
        "database": "air",
        "name": "",
        "usetls": false,
        "tls": ""
    }
]